Turquoise/gradle.properties
Turquoise/gradlew
Turquoise/gradlew.bat
Turquoise/.idea/compiler.xml
Turquoise/.idea/gradle.xml
Turquoise/.idea/misc.xml
Turquoise/.idea/modules.xml
Turquoise/.idea/runConfigurations.xml
Turquoise/.idea/vcs.xml
Turquoise/.idea/copyright/profiles_settings.xml
Turquoise/gradle/wrapper/gradle-wrapper.jar
Turquoise/gradle/wrapper/gradle-wrapper.properties
